*{
    --primary: #F24333;
    --secondary: '';

    --text-1: #F7F4F3;
    --text-2: #737373;

    font-family: 'Rajdhani', sans-serif;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
}

h1{
    font-size: 5rem;
}

.bg-white{
    
}

.bg-red{

}